extends template

block content
    br
    p Hello, and welcome to our website!
    p We here are devoted to quizes, helping students learn for exams.
    p To take a set quiz or a random quiz, use the menubar above. You will have to sign in to take the quizes, and can do this in the sign in tab of the menu.
