extends template

block content
    table.table
        tr
            th Username
            th Total Score
            th All Quizes
            th Average Score
        each val in data
            tr
                td= val['username']
                td= val['total_score']
                td= val['quizes_played']
                td= val['average_score']