doctype html
html
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    title  #{title} - RGS Quiz
    link(rel='stylesheet' href='/stylesheets/style.css')
    link(rel='stylesheet' href='/stylesheets/bootstrap.min.css')
    style(type='text/css').
        .navbar-collapse.collapse.in {
            display: block!important;
        }
    script(src='https://www.googletagmanager.com/gtag/js?id=G-FBBLTC7XF1' async)
    script.
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'G-FBBLTC7XF1');
    script(data-ad-client="ca-pub-4000110191768629" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js")
    block extraScripts

body(class=bodyClass)
    nav.navbar.navbar-expand-lg.navbar-light.bg-light.fixed-top
        a.navbar-brand(href='/') Weekly Quiz
        button.navbar-toggler(type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation")
            span.navbar-toggler-icon
        div.collapse.navbar-collapse#navbarNavAltMarkup
            div.navbar-nav
                if active === 'home'
                    a.nav-item.nav-link.active(href='/') Home
                        span.sr-only (Current)
                else
                    a.nav-item.nav-link.active(href='/') Home
                if active === 'leaderboards'
                    a.nav-item.nav-link.active(href='/leaderboards') Leaderboards
                        span.sr-only (Current)
                else
                    a.nav-item.nav-link.active(href='/leaderboards') Leaderboards
                if active === 'takeaquiz'
                    a.nav-item.nav-link.active(href='/takeaquiz') Take a Quiz
                        span.sr-only (Current)
                else
                    a.nav-item.nav-link.active(href='/takeaquiz') Take a Quiz
                if active === 'random-quiz'
                    a.nav-item.nav-link.active(href='/random-quiz') Random Quiz
                        span.sr-only (Current)
                else
                    a.nav-item.nav-link.active(href='/random-quiz') Random Quiz
                if username !== 'invalid'
                    a(href='/user/' + username)
                        button.btn.btn-outline-success.my-2.my-sm-0 #{username}
                else
                    a(href='/sign-in')
                        button.btn.btn-outline-success.my-2.my-sm-0 Sign In

    block content
    block footer

    script(src='/javascripts/jquery.min.js')
    script(src="/javascripts/popper.min.js")
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
